*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: background-color 0.2s ease;
}

:root {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	background: var(--bg-primary);
	color: var(--fg-primary);
	font-size: var(--fs-regular);
	user-select: none;
	-webkit-user-select: none;
	overflow: hidden;
	height: 100%;

	--fs-tiny: 12px;
	--fs-small: 14px;
	--fs-regular: 16px;
	--fs-medium: 20px;
	--fs-large: 36px;

	--game-width: 500px;

	--fg-primary: #d7dadc;
	--fg-secondary: #818384;
	--icon-color: #565758;
	--border-primary: #3a3a3c;
	--border-secondary: #272729;
	--bg-secondary: #1a1a1b;
	--bg-primary: #121213;
	
	--color-present: #b59f3b;
	--color-correct: #538d4e;
	--color-absent: var(--border-primary);
	--evaluated-key-color: var(--fg-primary);
	--key-bg: var(--fg-secondary);
}

body { height: 100% }

.light {
	--fg-primary: #1a1a1b;
	--fg-secondary: #787c7e;
	--icon-color: var(--fg-secondary);
	--border-primary: #d3d6da;
	--border-secondary: var(--border-primary);
	--bg-secondary: #e0e0e0;
	--bg-primary: #ffffff;

	--color-present: #c9b458;
	--color-correct: #6aaa64;
	--color-absent: var(--fg-secondary);
	--evaluated-key-color: var(--bg-primary);
	--key-bg: var(--border-primary);
}

.colorblind {
	--color-correct: #f5793a;
	--color-present: #85c0f9;
}

h3 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.⬛,
.🟨,
.🟩 {
	color: var(--evaluated-key-color);
}
a:link,
a:visited {
	color: inherit;
}